<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="DatabaseConnectionString" value="server=localhost;user=test;password=test;database=SchedulingSoftware;" />
        <add key="DefaultLanguage" value="en-US" />
        <add key="BusinessHoursStart" value="09:00" />
        <add key="BusinessHoursEnd" value="17:00" />
        <add key="AppointmentReminderMinutes" value="15" />
    </appSettings>
</configuration>
